body{
    background: #F3F5FC;
    width: 1440px;
    height: 1020px;
    margin: 40px;
}

.contenido{
    display: block;
    margin: 0 auto;
}

section{
    display: inline-block;
}

.logo{
    text-align: center;
    vertical-align: top;
    width:  120px;
    height: 48px;
}

.escribir-mensaje{
    vertical-align: top;
    margin-left: 100px;
    width: 50%;
    height: 100%;
}

.texto{
    margin: 165px 0 0 0;
    width: 577px;
    height: 650px;
    color: #0A3871;
    font-size: 32px;
    background-color: #F3F5FC;
    border: none;
    outline: none;
}

.texto::placeholder{
    color: #0A3871;
    font-size: 32px;
  }


.exclamacion, .parrafo-exclamacion{
    display: inline-block;
}
.mostrar-mensaje{
    text-align: center;
    background: #FFFFFF;
    width: 30%;
    height: 944px;
    border-radius: 32px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .1);
}

.muñeco{
    margin: 300px 0 20px 0;
}

.encontrado, .encontrado-dos{
    margin: auto;
    width: 336px;
    height: 58px;
}
.encontrado p{
    size: bold;
    font-size: 24px;
}
.encontrado-dos p{
    font-size: 16px;
}