body{
    background: #F3F5FC;
    width: 1440px;
    height: 1020px;

}

.contenido{
    display: block;
    text-align: center;
    margin: 2% auto;
}

section{
    display: inline-block;
}

.logo{
    vertical-align: top;
}

.escribir-mensaje{
    vertical-align: top;
    text-align: center;
    width: 50%;
    height: 100%;
}

.texto{
    margin: 165px 0 0 0;
    width: 577px;
    height: 48px;
}

.botones{
    margin: 620px 0 0 0;
}
.excalmacion{
    display:inline-block;
}
.mostrar-mensaje{
    text-align: center;
    background: #FFFFFF;
    width: 30%;
    height: 944px;
    border-radius: 32px;
}

.muñeco{
    margin: 300px 0 20px 0;
}